:root {
    --primary-color: #2B283A;
    --accent-color: #F55A5A;
    --border-color: #cccccc;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: var(--primary-color);
}

h1, h2, p {
    margin: 0;
}

nav {
    height: 4.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 2.25rem;
    background-color: var(--accent-color);
}

.nav-logo {
    width: 1.5rem;
    height: 1.5rem;
}

.nav-logo-text {
    margin-left: 0.4375rem;
    width: 6.8125rem;
    height: 1rem;
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2.5rem;
}

.card {
    width: 90%;
    margin: 0 auto;
    max-width: 50rem;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1.875rem;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 0.3125rem;
    image-rendering: pixelated;
}

.card-content {
    flex: 1;
    padding: 0.625rem;
    margin-left: 1.25rem;
}

.card-content-top {
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
}

.red-icon {
    color: var(--accent-color);
}

.card-content-top i {
    margin-right: 0.3125rem;
}

.card-content-top p,
.card-content-top a {
    margin-right: 0.9375rem;
}

h1 {
    font-size: 1.5625rem;
    font-weight: 700;
    margin-bottom: 0.9375rem;
}

h2 {
    margin-bottom: 0.625rem;
    font-size: 0.6875rem;
    font-weight: 700;
    line-height: 0.75rem;
}

.card + .card {
    margin-top: 1.25rem;
    border-top: 0.0625rem solid var(--border-color);
    padding-top: 2.1875rem;
}

@media (min-width: 768px) {
    .card-image {
        width: 30%;
        max-width: 7.8125rem;
    }
}

@media (min-width: 600px) {
    .card {
        flex-direction: row;
    }
}